* {
    margin: 0;
}

span {
    color: rgb(211, 80, 86);
    font-weight: bold;
   
}

.todocard__taskDiv {
    display: flex;
}

.todocard__hashtag {
    display: flex;
    flex-wrap: wrap;
}

.todocard__checkbox {
    flex:0;
}





